<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student Details</h2>

<form action="/add-student" method="post">

  <table border="1px">
    <tr>
     
    </tr>
     <tr>
      <td>name:</td>
      <td>
        <input type="text" name="name">
      </td>
    </tr>
     <tr>
      <td>eamil:</td>
      <td>
        <input type="text" name="email">
      </td>
    </tr>
     <tr>
      <td></td>
      <td><button type="submit">add-student</button></td>
     </tr>
  </table>
</form>
  <table border="1px" >
    <thead>
      <tr>
        <td>#</td>
        <td>name</td>
        <td>email</td>
        <td colspan="2">action</td>
      </tr>
    </thead>
    <tbody>
     
    </tbody>
  </table>
</body>
</html>